<%= form_with do |f| %>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>DoB</th>
            <th>SSN/SSID</th>
            <th>Gender</th>
            <th>Hispanic</th>
            <th>Race</th>
            <th>OR Tribe</th>
            <th>Education</th>
            <th>Disabled</th>
            <th>Veteran</th>
            <th>Homebound</th>
            <th>SNAP</th>
            <th>Other Med. Insurance</th>
        </tr>
        <% for i in 1..7 %>
            <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.date_field :dob %></td>
                <td><%= f.text_field :ssn %></td>
                <td><%= f.text_field :gender %></td>
                <td><%= f.check_box :hispanic %></td>
                <td><%= f.text_field :race %></td>
                <td><%= f.check_box :tribe %></td>
                <td><%= f.text_field :education %></td>
                <td><%= f.check_box :disabled %></td>
                <td><%= f.check_box :veteran %></td>
                <td><%= f.check_box :homebound %></td>
                <td><%= f.check_box :snap %></td>
                <td><%= f.text_field :other_insurance %></td>
            </tr>
        <% end %>
    </table>
    <%= f.submit "Next" %>
<% end %>