<style>
    table {width:100%; text-align:center;}
    th {border:1px solid black;}
    td {border:1px solid black;}
</style>

<%= form_with do |f| %>
    <table>
        <tr>
            <th>Name</th>
            <th>DoB</th>
            <th>SSN/SSID</th>
            <th>Gender</th>
            <th>Hispanic</th>
            <th>Race</th>
            <th>OR Tribe</th>
            <th>Education (See Instructions Below)</th>
            <th>Disabled</th>
            <th>Veteran</th>
            <th>Homebound</th>
            <th>SNAP</th>
            <th>Other Med. Insurance</th>
        </tr>
        <% for i in 1..7 %>
            <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.date_field :dob %></td>
                <td><%= f.text_field :ssn %></td>
                <td><%= f.text_field :gender %></td>
                <td><%= f.check_box :hispanic %></td>
                <td>
                    <select name="Race" id="race">
                        <option value="X">-</option>
                        <option value="AA">African American</option>
                        <option value="AS">Asian</option>
                        <option value="NA/AN">Native American/Alaskan Native</option>
                        <option value="PH/PI">Native Hawaiian/Pacific Islander</option>
                        <option value="WH">White</option>
                    </select>
                </td>
                <td><%= f.check_box :tribe %></td>
                <td>
                    <select name="Education" id="education">
                        <option value="X">-</option>
                        <option value="NA">Not School-Aged</option>
                        <option value="K">Kindergarten</option>
                        <option value="1">1st Grade</option>
                        <option value="2">2nd Grade</option>
                        <option value="3">3rd Grade</option>
                        <option value="4">4th Grade</option>
                        <option value="5">5th Grade</option>
                        <option value="6">6th Grade</option>
                        <option value="7">7th Grade</option>
                        <option value="8">8th Grade</option>
                        <option value="9">9th Grade (High School Freshman)</option>
                        <option value="10">10th Grade (High School Sophmore)</option>
                        <option value="11">11th Grade (High School Junior)</option>
                        <option value="12">12th Grade (High School Senior)</option>
                        <option value="GED">GED</option>
                        <option value="HSD">High School Diploma</option>
                        <option value="SC">Some College</option>
                        <option value="AA">Associates Degree</option>
                        <option value="BA">Bachelors Degree</option>
                        <option value="MA">Masters Degree</option>
                        <option value="PHD">Doctorate</option>
                    </select>
                </td>
                <td><%= f.check_box :disabled %></td>
                <td><%= f.check_box :veteran %></td>
                <td><%= f.check_box :homebound %></td>
                <td><%= f.check_box :snap %></td>
                <td><%= f.text_field :other_insurance %></td>
            </tr>
        <% end %>
    </table>
    <p>*For Education, if currently enrolled in K-12 school, select current year. Otherwise, select highest completed education.</p>
    <div>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
        <select name="phone_number_type" id="phone_number_type">
            <option value="cell">Cell</option>
            <option value="home">Home</option>
            <option value="message">Message</option>
        </select>
    </div>
    <div>
        <%= f.label :email_address %>
        <%= f.text_field :email_address %>
    </div>
    <div>
        <%= f.label :household_type %>
        <select name="household_type" id="household_type">
            <option value="single">Single Person</option>
            <option value="single_parent_male">Single Parent (Male)</option>
            <option value="single_parent_female">Single Parent (Female)</option>
            <option value="non_related_adults_with_children">Non-Related Adults with Children</option>
            <option value="two_parent_family">Two-Parent Family</option>
            <option value="multigenerational">Multigenerational</option>
            <option value="two_adults_no_children">Two Adults, No Children</option>
        </select>
    </div>

    
    <%= f.submit "Next" %>
<% end %>