<style>
    table {width:100%; text-align:center;}
    th {border:1px solid black;}
    td {border:1px solid black;}
    div.border_div {border:1px solid black;}
</style>

<%= form_with do |f| %>
    <table>
        <tr>
            <th>Name</th>
            <th>DoB</th>
            <th>SSN/SSID</th>
            <th>Gender</th>
            <th>Hispanic</th>
            <th>Race</th>
            <th>OR Tribe</th>
            <th>Education (See Instructions Below)</th>
            <th>Disabled</th>
            <th>Veteran</th>
            <th>Homebound</th>
            <th>SNAP</th>
            <th>Other Med. Insurance</th>
        </tr>
        <% for i in 1..7 %>
            <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.date_field :dob %></td>
                <td><%= f.text_field :ssn %></td>
                <td><%= f.text_field :gender %></td>
                <td><%= f.check_box :hispanic %></td>
                <td>
                    <select name="Race" id="race">
                        <option value="X">-</option>
                        <option value="AA">African American</option>
                        <option value="AS">Asian</option>
                        <option value="NA/AN">Native American/Alaskan Native</option>
                        <option value="PH/PI">Native Hawaiian/Pacific Islander</option>
                        <option value="WH">White</option>
                    </select>
                </td>
                <td><%= f.check_box :tribe %></td>
                <td>
                    <select name="Education" id="education">
                        <option value="X">-</option>
                        <option value="NA">Not School-Aged</option>
                        <option value="K">Kindergarten</option>
                        <option value="1">1st Grade</option>
                        <option value="2">2nd Grade</option>
                        <option value="3">3rd Grade</option>
                        <option value="4">4th Grade</option>
                        <option value="5">5th Grade</option>
                        <option value="6">6th Grade</option>
                        <option value="7">7th Grade</option>
                        <option value="8">8th Grade</option>
                        <option value="9">9th Grade (High School Freshman)</option>
                        <option value="10">10th Grade (High School Sophmore)</option>
                        <option value="11">11th Grade (High School Junior)</option>
                        <option value="12">12th Grade (High School Senior)</option>
                        <option value="GED">GED</option>
                        <option value="HSD">High School Diploma</option>
                        <option value="SC">Some College</option>
                        <option value="AA">Associates Degree</option>
                        <option value="BA">Bachelors Degree</option>
                        <option value="MA">Masters Degree</option>
                        <option value="PHD">Doctorate</option>
                    </select>
                </td>
                <td><%= f.check_box :disabled %></td>
                <td><%= f.check_box :veteran %></td>
                <td><%= f.check_box :homebound %></td>
                <td><%= f.check_box :snap %></td>
                <td><%= f.text_field :other_insurance %></td>
            </tr>
        <% end %>
    </table>
    <p>*For Education, if currently enrolled in K-12 school, select current year. Otherwise, select highest completed education.</p>
    <div>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
        <select name="phone_number_type" id="phone_number_type">
            <option value="cell">Cell</option>
            <option value="home">Home</option>
            <option value="message">Message</option>
        </select>
    </div>

    <div>
        <%= f.label :email_address %>
        <%= f.text_field :email_address %>
    </div>

    <div>
        <%= f.label :household_type %>
        <select name="household_type" id="household_type">
            <option value="single">Single Person</option>
            <option value="single_parent_male">Single Parent (Male)</option>
            <option value="single_parent_female">Single Parent (Female)</option>
            <option value="non_related_adults_with_children">Non-Related Adults with Children</option>
            <option value="two_parent_family">Two-Parent Family</option>
            <option value="multigenerational">Multigenerational</option>
            <option value="two_adults_no_children">Two Adults, No Children</option>
        </select>
    </div>

    <div>
        <table>
            <tr>
                <th></th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP</th>
                <th>County</th>
            </tr>
            <tr>
                <td>Physical Address</td>
                <td><%= f.text_field :physical_street %></td>
                <td><%= f.text_field :physical_city %></td>
                <td><%= f.text_field :physical_state %></td>
                <td><%= f.text_field :physical_zip %></td>
                <td><%= f.text_field :physical_county %></td>
            </tr>
            <tr>
                <td>Mailing Address (If Different)</td>
                <td><%= f.text_field :mailing_street %></td>
                <td><%= f.text_field :mailing_city %></td>
                <td><%= f.text_field :mailing_state %></td>
                <td><%= f.text_field :mailing_zip %></td>
                <td><%= f.text_field :mailing_county %></td>
            </tr>
        </table>
    </div>

    <div>
        <%= f.label :dwelling_type %>
        <select name="dwelling_type" id="dwelling_type">
            <option value="h">Single Family House</option>
            <option value="m">Multi-Unit (2-4)</option>
            <option value="u">Multi-Unit (5+)</option>
            <option value="a">Manufactured/Mobile Home</option>
            <option value="e">Hotel/Motel</option>
            <option value="t">Travel Trailer</option>
            <option value="r">Other</option>
        </select>
    </div>

    <div>
        <%= f.label :residence_status %>
        <select name="dwelling_type" id="dwelling_type">
            <option value="r">Rent (heat not included)</option>
            <option value="e">Rent (heat included)</option>
            <option value="s">HUD or Section 8 (heat not included)</option>
            <option value="o">Own</option>
        </select>
    </div>

    <div class="border_div">
        <label>Type of Heat (Check All that Apply)</label><br></br>
        <%= f.check_box :electric %>
        <label>Electric</label><br></br>
        <%= f.check_box :natural_gas %>
        <label>Natural Gas</label><br></br>
        <%= f.check_box :propane %>
        <label>Propane</label><br></br>
        <%= f.check_box :oil %>
        <label>Oil</label><br></br>
        <%= f.check_box :solar %>
        <label>Solar</label><br></br>
        <%= f.check_box :pellets %>
        <label>Pellets</label><br></br>
        <%= f.check_box :wood %>
        <label>Wood</label><br></br>
        <label>Which is the primary heat source?</label>
        <select name="primary_heat" id="primary_heat">
            <option value="electric">Electric</option>
            <option value="natural gas">Natural Gas</option>
            <option value="propane">Propane</option>
            <option value="oil">Oil</option>
            <option value="solar">Solar</option>
            <option value="pellets">Pellets</option>
            <option value="wood">Wood</option>
        </select><br></br>
        <label>Which is the secondary heat source?</label>
        <select name="primary_heat" id="primary_heat">
            <option value="none">-</option>
            <option value="electric">Electric</option>
            <option value="natural gas">Natural Gas</option>
            <option value="propane">Propane</option>
            <option value="oil">Oil</option>
            <option value="solar">Solar</option>
            <option value="pellets">Pellets</option>
            <option value="wood">Wood</option>
        </select><br></br>
        <label>Name of the utility company you would like your benefit to go to:</label><br></br>
        <%= f.text_field :utility_company %>
        </div>

        <div class="border_div">
            <p>This section is required by NeighborImpact to verify your eligibility for this program.<p>
            <table>
                <tr>
                    <th>Name of Household Member</th>
                    <th>Type of Income</th>
                </tr>
                <% for i in 1..6 %>
                    <tr>
                        <td><%= f.text_field :household_income_name %></td>
                        <td><%= f.text_field :household_income_type %></td>
                    </tr>
                <% end %>
            </table>
            <table>
                <tr>
                    <th>Name of Utility</th>
                    <th>Account #</th>
                    <th>Name on Account</th>
                </tr>
                <% for i in 1..3 %>
                    <tr>
                        <td><%= f.text_field :utility_name %></td>
                        <td><%= f.text_field :utility_account_num %></td>
                        <td><%= f.text_field :utility_account_holder %></td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div class="border_div">
            <h2>Delcaration of Household Income</h2>
            <p>PLEASE FILL OUT THIS SECTION FOR ALL HOUSEHOLD MEMBERS OVER THE AGE OF 18 WHO EITHER HAVE:<p>
            <p>1. No income OR</p>
            <p>2. Informal income (paid cash for work or have other non-wage sources of income</p>
            <label>Applicant Name:</label>
            <%= f.text_field :dhi_applicant_name %><br></br>
            <label>Previous Month*:</label>
            <%= select_month(1) %><br></br>
            <p>*For example, if you are filling this out in October, please select September and enter the information below for September.</p>
            <label>Possible Informal Income Sources</label>
            <ul>
                <li>Informal child support</li>
                <li>Selling scrap metal</li>
                <li>Can deposits</li>
                <li>Support from non-wage sources</li>
                <li>Help from relative, church, etc (for 3 or more months)</li>
                <li>Occasional work for cash</li>
                <li>Informal spousal support</li>
                <li>Income from a rental property</li>
            </ul>
            <table>
                <tr>
                    <th>Name of all household members over 18 who recieved no income or informal income</th>
                    <th>Total amount of informal income received in the previous month</th>
                    <th>Source of informal income</th>
                    <th>Currently in high school?</th>
                </tr>
                <% for i in 1..7 %>
                    <tr>
                        <td><%= f.text_field :dhi_informal_income_name %></td>
                        <td><label>$</label><%= f.number_field :dhi_informal_income_amt %></td>
                        <td><%= f.text_field :dhi_informal_income_source %></td>
                        <td><%= f.check_box :dhi_informal_income_high_schooler %></td>
                    </tr>
                <% end %>
            </table>
            <label>How do you currently pay for your necessities such as rent, food, and phone?</label><br></br>
            <%= f.text_area :dhi_current_necessities_method %>
        </div>
    <%= f.submit "Next" %>
<% end %>