%h1 Administration
.row
  .col-9
    %h2 Energy Assistance Applications
  .col-3.text-right
    = link_to 'Export CSV', export_admin_energy_applications_path, class: 'btn btn-primary'
%table.table.table-hover
  %thead
    %tr
      %th{scope: 'col'} id
      %th{scope: 'col'} Applicant
      %th{scope: 'col'} Phone Number
      %th Last Updated
  %tbody
    - @energy_applications.each do |application|
      %tr
        %th{scope: 'row'}= application.id
        %td= link_to application.user, admin_energy_application_path(application)
        %td= link_to application.phone_number, admin_energy_application_path(application)
        %td= application.updated_at.to_s(:long)
