- if editable_by_user?(@user, current_user)
  = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary float-right'
%h1= @user

%p= @user.email
%p= "An #{@user.status} user with the #{@user.role} role."
%p= "Signed in #{@user.sign_in_count} times since #{@user.created_at.localtime.to_s(:short)}."
- if @user.current_sign_in_at
  %p= "Last signed in at #{@user.current_sign_in_at.localtime.to_s(:short)} from #{@user.current_sign_in_ip}."

%h2 Applications
%table.table.table-hover
  %thead
    %tr
      %th{scope: 'col'} id
      %th{scope: 'col'} Applicant
      %th{scope: 'col'} Phone Number
      %th Last Updated
  %tbody
    - @user.energy_applications.each do |application|
      %tr
        %th{scope: 'row'}= application.id
        %td= link_to application.user, admin_energy_application_path(application)
        %td= link_to application.phone_number, admin_energy_application_path(application)
        %td= application.updated_at.to_s(:long)
