<%= form_with(model: @energy_application, local: true) do |f| %>

  <h2>Basic Information</h2>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, autofocus:true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-9">
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :phone_type, "Phone Type" %>
      <%= f.select(:phone_type, ["Cell", "Home", "Message"], {}, { :class => "form-control form-select" }) %>
    </div>
  </div>

  <%= f.label :email_address, "Email Address" %>
  <%= f.text_field :email_address, class: "form-control" %>

  <%= f.label :how_necessities_are_paid, "How do you currently pay for your basic necessities such as rent, food, and phone?" %>
  <%= f.text_field :how_necessities_are_paid, class: "form-control" %>

  <h2>Physical Address</h2>

  <%= f.label :address, "Street" %>
  <%= f.text_field :address, class: "form-control" %>

  <%= f.label :address2, "Address Line 2" %>
  <%= f.text_field :address2, class: "form-control" %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :county %>
      <%= f.select(:county, [["Crook County", "Crook"], ["Deschutes County", "Deschutes"], ["Jefferson County", "Jefferson"], ["Native American reservations in Wasco County", "Native American reservations in Wasco"]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <h2>Mailing Address</h2>
  <p>Only include your mailing address if it is different than your physical address.</p>

  <%= f.label :mailing_address_street, "Street" %>
  <%= f.text_field :mailing_address_street, class: "form-control" %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :mailing_address_city, "City" %>
      <%= f.text_field :mailing_address_city, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :mailing_address_county, "County" %>
      <%= f.text_field :mailing_address_county, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :mailing_address_state, "State" %>
      <%= f.text_field :mailing_address_state, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :mailing_address_zip, "Zip" %>
      <%= f.text_field :mailing_address_zip, class: "form-control" %>
    </div>
  </div>

  <h2>Household Information</h2>

  <%= f.label :household_type, "Household Type" %>
  <%= f.select(:household_type, ["Single Person", "Single Parent Female", "Single Parent Male", "Non-Related Adults With Children", "2 Parent Family", "Multigenerational", "2 Adults, No Children"], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>


  <h3>Enter the information of each household member.</h3>
  <% for i in 0..7 %>
    <h4 class="accordion">Household Member <%= i + 1 %></h4>
    <div class="panel">
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :household_member_name, "Full Legal Name", multiple: true %>
          <%= f.text_field :household_member_name, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :household_member_birthdate, "Birthdate" %>
          <%= f.date_field :household_member_birthdates, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :household_member_ssid, "SSN/SSID" %>
          <%= f.text_field :household_member_ssid, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_gender_%d" % [i] %>
          <%= f.label :household_member_gender, "Gender" %>
          <%= f.select(element_name, [["Male", "M"], ["Female", "F"], ["Other", "Other"]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_hispanic_%d" % [i] %>
          <%= f.label :household_member_hispanic, "Hispanic" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <% element_name = "household_member_race_%d" % [i] %>
          <%= f.label :household_member_race, "Race" %>
          <%= f.select(element_name, [["African American", "AA"], ["Asian", "AS"], ["Native American", "NA"], ["Alaskan Native", "AN"], ["Native Hawaiian", "NH"], ["Pacific Islander", "PI"], ["White", "WH"]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_tribal_%d" % [i] %>
          <%= f.label :household_member_tribal, "OR Tribe" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-4">
          <% element_name = "household_member_education_%d" % [i] %>
          <%= f.label :household_member_education, "Education" %>
          <%= f.select(element_name, [["Not School-Aged", "Not Applicable"], ["Kindergarten", "K"], ["1st Grade", "1"], ["2nd Grade", "2"], ["3rd Grade", "3"], ["4th Grade", "4"], ["5th Grade", "5"], ["6th Grade", "6"], ["7th Grade", "7"], ["8th Grade", "8"], ["9th Grade", "9"], ["10th Grade", "10"], ["11th Grade", "11"], ["12th Grade", "12"], ["GED", "GED"], ["High School Diploma", "HSD"], ["Some College", "SC"], ["Associates Degree", "AA"], ["Bachelors Degree", "BA"], ["Masters Degree", "MA"], ["Doctorate", "PHD"]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_disabled_%d" % [i] %>
          <%= f.label :household_member_disabled, "Disabled" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <% element_name = "household_member_veteran_%d" % [i] %>
          <%= f.label :household_member_veteran, "Veteran" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_homebound_%d" % [i] %>
          <%= f.label :household_member_homebound, "Homebound" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_snap_%d" % [i] %>
          <%= f.label :household_member_snap, "SNAP" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-2">
          <% element_name = "household_member_ohp_%d" % [i] %>
          <%= f.label :household_member_ohp, "OHP" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :household_member_other_insurance, "Other Medical Insurance" %>
          <%= f.text_field :household_member_other_medical_insurances, multiple: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :household_member_type_of_income, "Type of Income" %>
          <%= f.text_field :household_member_type_of_income, multiple: true, class: "form-control" %>
        </div>
      </div>

      <%= f.label :household_members_over_18_without_income, "Over 18 and Receiving No Income or Informal Income" %>
      <% element_name = "household_members_over_18_without_income_%d" % [i] %>
      <%= f.select(element_name, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
      <p>If you answered yes, the remaining fields for this household member are required. Otherwise, they are optional.</p>

      <%= f.label :household_member_informal_incomes_last_month, "Total Informal Income Received Last Month" %>
      <%= f.text_field :household_member_informal_incomes_last_month, multiple: true, class: "form-control" %>

      <div class="form-row">
        <p>Possible Informal Income Sources:</p>
        <ul>
          <li>Informal child support</li>
          <li>Can deposits</li>
          <li>Help from relative, church, etc. (for 3 months or more)</li>
          <li>Informal spousal support</li>
          <li>Selling scrap metal</li>
          <li>Support from non-wage sources</li>
          <li>Occasional work for cash</li>
          <li>Income from a rental property</li>
        </ul>
        <div class="form-group col-md-8">
          <%= f.label :household_member_informal_income_source, "Informal Income Source (See Examples Listed Above)" %>
          <%= f.text_field :household_member_informal_income_source, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-4">
          <% element_name = "household_member_in_high_school_%d" % [i] %>
          <%= f.label :household_member_in_high_school, "Currently in High School" %>
          <%= f.select(element_name, [["No", false], ["Yes", true]], { :class => "form-control form-select" }) %>
        </div>
      </div>
    </div>
  <% end %>

  <h2>Dwelling</h2>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :type_of_dwelling, "Type of Dwelling" %>
      <%= f.select(:type_of_dwelling, [["Single Family House", "H"], ["Multi-Unit (2-4)", "M"], ["Multi-Unit (Over 4)", "U"], ["Manufactured/Mobile Home", "A"], ["Hotel/Motel", "E"], ["Travel Trailer", "T"], ["Other", "R"]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :residence_status, "Residence Status" %>
      <%= f.select(:residence_status, [["Rent (Heat Not Included)", "R"], ["Rent (Heat Included)", "E"], ["HUD or Section 8 (Heat Not Included)", "S"], ["Own", "O"]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
    </div>
  </div>

  <%= f.label :types_of_heat, "Types of Heat (Hold Ctrl and Select All That Apply)" %>
  <%= f.select(:types_of_heat, [["Electric", "E"], ["Natural Gas", "N"], ["Propane", "L"], ["Oil", "O"], ["Solar", "S"], ["Pellets", "P"], ["Wood", "W"]], {}, { :multiple => true, :class => "form-control" }) %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :primary_heat_source, "Primary Heat Source" %>
      <%= f.select(:primary_heat_source, [["Electric", "E"], ["Natural Gas", "N"], ["Propane", "L"], ["Oil", "O"], ["Solar", "S"], ["Pellets", "P"], ["Wood", "W"]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :secondary_heat_source, "Secondary Heat Source" %>
      <%= f.select(:secondary_heat_source, [["Electric", "E"], ["Natural Gas", "N"], ["Propane", "L"], ["Oil", "O"], ["Solar", "S"], ["Pellets", "P"], ["Wood", "W"]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
    </div>
  </div>

  <%= f.label :utility_company, "Name the utility company you would like your benefit to go to." %>
  <%= f.text_field :utility_company, class: "form-control" %>

  <h2>Utility</h2>

  <%= f.label :utility_account_status, "Account Status" %>
  <%= f.select(:utility_account_status, ["Current", "Past Due", "Shut Off 1-5 Days", "Shut Off 0-24 Hours", "Disconnected", "Bulk Fuel", "Bulk Fuel Out"], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>

  <h3>Enter the information of each utility.</h3>
  <% for i in 0..2 %>
    <h4 class="accordion">Utility <%= i + 1 %></h4>
    <div class="panel">
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :utility_name, "Name" %>
          <%= f.text_field :utility_name, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :utility_account_number, "Account Number" %>
          <%= f.text_field :utility_account_number, multiple: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :utility_account_names, "Name on Account" %>
          <%= f.text_field :utility_account_names, multiple: true, class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>

  <h2>COVID-19 Impact</h2>

  <%= f.label :household_impacted_by_covid, "Has anyone in your household been impacted by COVID-19?" %>
  <%= f.select(:household_impacted_by_covid, [["No", false], ["Yes", true]], { :prompt => "Select Answer" }, { :class => "form-control form-select" }) %>
  <p>If you selected Yes, please complete the COVID-19 Impact section. Otherwise, please skip this section.</p>

  <h3>Which of the following COVID-19 situations have impacted your household?</h3>

  <%= f.label :covid_loss_of_employment, "Loss of Employment (Laid-Off/Furlough/Lost Your Business)" %>
  <%= f.select(:covid_loss_of_employment, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>

  <%= f.label :covid_vulnerable_population, "Vulnerable Population (People at risk due to age or health conditions for whom it is necessary to self-quarantine.)" %>
  <%= f.select(:covid_vulnerable_population, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :covid_reduction_of_hours, "Reduction of Hours/Unpaid Leave" %>
      <%= f.select(:covid_reduction_of_hours, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :covid_loss_of_childcare, "Loss of Childcare/Children Being Home From School" %>
      <%= f.select(:covid_loss_of_childcare, [["No", false], ["Yes", true]], {}, { :class => "form-control form-select" }) %>
    </div>
  </div>

  <%= f.label :covid_other_situation, "Other Situation Related to COVID-19 (Please Briefly Describe)" %>
  <%= f.text_field :covid_other_situation, class: "form-control" %>

  <%= f.label :covid_expenses, "Please list COVID-19 related expenses. (Could include: increased costs for utilities or household supplies due to quarantine or more people at home; COVID-19 prevention materials such as masks, sanitizers, wipes, and gloves)" %>
  <%= f.text_field :covid_expenses, class: "form-control" %>

  <br />

  <div class="btn-group">
    <%= link_to "Cancel", energy_applications_path, class: "btn btn-outline-secondary" %>
    <%= f.submit "Save and Exit", class: "btn btn-outline-primary" %>
    <%= f.submit "Save and Continue", class: "btn btn-outline-primary" %>
  </div>

<% end %>

<script type="text/javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

</script>
