<h1>Edit Energy Application</h1>

<%= form_with(model: @energy_application, local: true) do |f| %>

<%= form_with(model: @energy_application, local: true) do |f| %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus:true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-9">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :phone_type %>
      <%= f.select(:phone_type, ["Cell", "Home", "Message"], {}, { :class => "form-control form-select" }) %>
    </div>
  </div>

  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>

  <%= f.label "Address Line 2" %>
  <%= f.text_field :address2, class: "form-control" %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :county %>
      <%= f.text_field :county, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <div class="btn-group">
    <%= link_to "Cancel", energy_applications_path, class: "btn btn-outline-secondary" %>
    <%= f.submit "Save and Exit", class: "btn btn-outline-primary" %>
    <%= f.submit "Save and Continue", class: "btn btn-outline-primary" %>
  </div>

<% end %>
