<h1>Edit Energy Application</h1>

<%# <% render "form", energy_application: @energy_application %>

<%= form_with(model: @energy_application, local: true) do |f| %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>

  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>

  <%= f.label "Address Line 2" %>
  <%= f.text_field :address2, class: "form-control" %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :county %>
      <%= f.text_field :county, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <div class="btn-group">
    <%= link_to "Cancel", energy_applications_path, class: "btn btn-secondary" %>
    <%= button_to "Save Progress", root_path %>
    <%= f.submit "Save and Continue", class: "btn btn-primary" %>
  </div>

<% end %>
