%h1 My Energy Assistance Applications
- if @energy_applications.empty?
  %h2.mt-5.text-center= link_to 'Begin a New Application', before_you_begin_path, class: 'btn btn-large btn-primary'
- else
  %table.table.table-hover
    %thead
      %tr
        %th Last Updated
        %th Status
        %th
    %tbody
      - @energy_applications.each do |application|
        %tr
          %td= link_to application.updated_at.to_s(:long), application
          %td= link_to application.status, application
          %td= link_to 'View Details', application, class: 'btn btn-light btn-sm mr-4'
          %td= link_to 'Upload Supporting Documents', supporting_docs_energy_application_path(application), class: 'btn btn-light btn-sm mr-4'
