<h1>New Energy Application</h1>

<%= render "form", energy_application: @energy_application %>

<script>
    <% if @previous_energy_application != nil %>
        document.getElementById("energy_application_first_name").value = "<%= @previous_energy_application.first_name %>"
        document.getElementById("energy_application_last_name").value = "<%= @previous_energy_application.last_name %>"
        document.getElementById("energy_application_phone_number").value = "<%= @previous_energy_application.phone_number %>"
        document.getElementById("energy_application_phone_type").value = "<%= @previous_energy_application.phone_type %>"
        document.getElementById("energy_application_email_address").value = "<%= @previous_energy_application.email_address %>"
        document.getElementById("energy_application_how_necessities_are_paid").value = "<%= @previous_energy_application.how_necessities_are_paid %>"
        document.getElementById("energy_application_address").value = "<%= @previous_energy_application.address %>"
        document.getElementById("energy_application_address2").value = "<%= @previous_energy_application.address2 %>"
        document.getElementById("energy_application_city").value = "<%= @previous_energy_application.city %>"
        document.getElementById("energy_application_zip").value = "<%= @previous_energy_application.zip %>"
        document.getElementById("energy_application_county").value = "<%= @previous_energy_application.county %>"
        document.getElementById("energy_application_mailing_address_street").value = "<%= @previous_energy_application.mailing_address_street %>"
        document.getElementById("energy_application_mailing_address_city").value = "<%= @previous_energy_application.mailing_address_city %>"
        document.getElementById("energy_application_mailing_address_county").value = "<%= @previous_energy_application.mailing_address_county %>"
        document.getElementById("energy_application_mailing_address_state").value = "<%= @previous_energy_application.mailing_address_state %>"
        document.getElementById("energy_application_mailing_address_zip").value = "<%= @previous_energy_application.mailing_address_zip %>"
        document.getElementById("energy_application_household_type").value = "<%= @previous_energy_application.household_type %>"
    
        document.getElementById("energy_application_type_of_dwelling").value = "<%= @previous_energy_application.type_of_dwelling %>"
        document.getElementById("energy_application_residence_status").value = "<%= @previous_energy_application.residence_status %>"
        <% if @previous_energy_application.types_of_heat.include? "E" %>
            document.getElementById("energy_application_heat_type_electric").checked = true
        <% end %>

        <% if @previous_energy_application.types_of_heat.include? "E" %>
            document.getElementById("energy_application_heat_type_electric").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "N" %>
            document.getElementById("energy_application_heat_type_natural_gas").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "L" %>
            document.getElementById("energy_application_heat_type_propane").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "O" %>
            document.getElementById("energy_application_heat_type_oil").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "S" %>
            document.getElementById("energy_application_heat_type_solar").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "P" %>
            document.getElementById("energy_application_heat_type_pellets").checked = true
        <% end %>
        <% if @previous_energy_application.types_of_heat.include? "W" %>
            document.getElementById("energy_application_heat_type_wood").checked = true
        <% end %>
        document.getElementById("energy_application_primary_heat_source").value = "<%= @previous_energy_application.primary_heat_source %>"
        document.getElementById("energy_application_secondary_heat_source").value = "<%= @previous_energy_application.secondary_heat_source %>"
        document.getElementById("energy_application_utility_company").value = "<%= @previous_energy_application.utility_company %>"

        document.getElementById("energy_application_household_impacted_by_covid").value = "<%= @previous_energy_application.household_impacted_by_covid %>"
        document.getElementById("energy_application_covid_loss_of_employment").value = "<%= @previous_energy_application.covid_loss_of_employment %>"
        document.getElementById("energy_application_covid_vulnerable_population").value = "<%= @previous_energy_application.covid_vulnerable_population %>"
        document.getElementById("energy_application_covid_reduction_of_hours").value = "<%= @previous_energy_application.covid_reduction_of_hours %>"
        document.getElementById("energy_application_covid_loss_of_childcare").value = "<%= @previous_energy_application.covid_loss_of_childcare %>"
        document.getElementById("energy_application_covid_other_situation").value = "<%= @previous_energy_application.covid_other_situation %>"
        document.getElementById("energy_application_covid_expenses").value = "<%= @previous_energy_application.covid_expenses %>"
    <% end %>
</script>