<h1>New Energy Application</h1>

<%= render "form", energy_application: @energy_application %>

<script>
    document.getElementById("energy_application_first_name").value = "<%= @previous_energy_application.first_name %>"
    document.getElementById("energy_application_last_name").value = "<%= @previous_energy_application.last_name %>"
    document.getElementById("energy_application_phone_number").value = "<%= @previous_energy_application.phone_number %>"
    document.getElementById("energy_application_phone_type").value = "<%= @previous_energy_application.phone_type %>"
    document.getElementById("energy_application_email_address").value = "<%= @previous_energy_application.email_address %>"
    document.getElementById("energy_application_how_necessities_are_paid").value = "<%= @previous_energy_application.how_necessities_are_paid %>"
    document.getElementById("energy_application_address").value = "<%= @previous_energy_application.address %>"
    document.getElementById("energy_application_address2").value = "<%= @previous_energy_application.address2 %>"
    document.getElementById("energy_application_city").value = "<%= @previous_energy_application.city %>"
    document.getElementById("energy_application_zip").value = "<%= @previous_energy_application.zip %>"
    document.getElementById("energy_application_county").value = "<%= @previous_energy_application.county %>"
    document.getElementById("energy_application_mailing_address_street").value = "<%= @previous_energy_application.mailing_address_street %>"
    document.getElementById("energy_application_mailing_address_city").value = "<%= @previous_energy_application.mailing_address_city %>"
    document.getElementById("energy_application_mailing_address_county").value = "<%= @previous_energy_application.mailing_address_county %>"
    document.getElementById("energy_application_mailing_address_state").value = "<%= @previous_energy_application.mailing_address_state %>"
    document.getElementById("energy_application_mailing_address_zip").value = "<%= @previous_energy_application.mailing_address_zip %>"
    document.getElementById("energy_application_household_type").value = "<%= @previous_energy_application.household_type %>"
    

</script>